<p>
  <b>ID:</b>
  <%=h @butterword.id.to_s %>
</p>

<p>
  <b>Name:</b>
  <%=h @butterword.name %>
</p>

<%= link_to 'Edit', edit_cactus_butterword_path(@butterword) %> |
<%= link_to 'Back', url_for(:controller =>"cactus/butterwords", :action => "index") %>
