<h1>New subname</h1>

<%= error_messages_for :subname %>

<% form_for(@subname) do |f| %>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', subnames_path %>
