<p>
  <b>ID:</b>
  <%=h @subname.id.to_s %>
</p>

<p>
  <b>Name:</b>
  <%=h @subname.name %>
</p>

<%= link_to 'Edit', edit_cactus_subname_path(@subname) %> |
<%= link_to 'Back', url_for(:controller =>"cactus/admin", :action => "index") %>
