body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

.sideMenu {
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: #fff;
  padding: 1px;
  font-size: 11px;
}

.locations {
  font-family: verdana, arial, helvetica, sans-serif;
  color: #006;
  font-size: 11px;
  font-weight: bold;
}

.location {
  font-family: verdana, arial, helvetica, sans-serif;
  color: #037;
  font-size: 20px;
  font-weight: bold;
}

.menu {
  font-family: verdana, arial, helvetica, sans-serif;
  color: #006;
  font-size: 15px;
  font-weight: bold;
}

.pulldown {
  font-family: verdana, arial, helvetica, sans-serif;
  color: #000;
  font-size: 15px;
}

.catBar {
  background-color: #cf6;
  height: 27px;
  vertical-align: middle;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.catListing {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

.header {
  font-family: verdana, arial, helvetica, sans-serif;
  color:  #ff6600
  font-size: 15px;
}

a { color: #00f; }
A.catbar:visited{text-decoration: none; color: #006 }
a:link {text-decoration: none;}
a:visited {text-decoration: none; color: #006}



